.navigation-container {
    .MuiDrawer-docked {
        margin-right: -16px !important;
        .MuiPaper-elevation {
            background-color: transparent;
            border: none;
            
        }
    }
}